/* Normalize CSS */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #003b1e;
    padding: 10px 20px;
    border-bottom: 1px solid #ccc;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

nav a {
    color: #000;
    text-decoration: none;
}

main {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

@media (min-width: 768px) {
    main {
        flex-direction: row;
    }
}

form {
    flex: 2;
    background-color: #f9f9f9;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form h2 {
    margin-top: 0;
}

form label {
    display: block;
    margin-bottom: 10px;
}

form input, form select, form textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

form input[type="submit"] {
    width: auto;
    background-color: #ddd;
    color: #000;
    border: 1px solid #ccc;
    cursor: pointer;
    padding: 10px 20px;
}

aside {
    flex: 1;
    margin-left: 20px;
    background-color: #f9f9f9;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

aside h3 {
    margin-top: 0;
}

footer {
    background-color: #07633ece;
    color: #000;
    text-align: center;
    padding: 10px;
    border-top: 1px solid #ccc;
}
